/* Global Styles */

@media only screen and (min-width: 1024px) {
  .container header .header-nav-area #nav_container  {
    display:flex;
  }
  .x-large
{
  
  text-align: center;
  
}

.landing-inner { 
  /* height: 400px; */
  position: relative;
  
}

.buttons {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%; 
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}
}

@media only screen and (min-width: 360px) {
  .container header .header-nav-area #nav_container  {
    display:flex;
  }
  .x-large
{
  
  text-align: center;
  
}

.lead{
  text-align: center;
  vertical-align: middle;
  
}
.landing-inner { 
  height: 1000px; 
  position: relative;
  
}


.btn1{
  margin-right: 50px; 
  background-color: coral;
  border-color: coral;
  vertical-align: middle;
}

.btn2{
   margin-top: 5px; 

  background-color: coral;
  color: white;
  border-color: coral;
}
}

:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.alert-light {
  background: var(--light-color);
  color: #333;
}

.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.alert-success {
  background: var(--success-color);
  color: #fff;
}

.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

/* Padding */
.p {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.py {
  padding: 0.5rem 0;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.my {
  margin: 0.5rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type="submit"],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}

.form .social-input i.fa-facebook {
  color: #3b5998;
}

.form .social-input i.fa-instagram {
  color: #3f729b;
}

.form .social-input i.fa-youtube {
  color: #c4302b;
}

.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.auth-wrapper {
  width: 30%;
  height: 100%;
}

.auth-wrapper {
  display: flex;
  text-align: left;
}

.auth-inner {
  background: #ffffff;
  padding: 40px 55px 45px 55px;
  border-left: 1px solid #ddd;
  align-items: flex-end;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  height: 100%;
  width: 100%;
}

/*  ************************************LANDING PAGE**********************************************  */
.App{
  /* background: url("../public/img/bg10.jpg"); */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -11%;
  overflow: scroll;
  overflow-x:hidden;

}

.x-large
{
  color: yellow;
  text-align: center;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.landing-inner { 
  height: 500px;
  position: relative;
  
}

.buttons {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%; 
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}

.btn1{
   /* margin-right: 50px;  */
  background-color: coral;
  border-color: coral;
}

.btn2{
  margin-left: 10px;
  background-color: coral;
  color: white;
  border-color: coral;
}

/*  ************************************SIGN UP PAGE**********************************************  */

.Register{
  font-weight: bold;
  color: orange;
  
}

.Register h1{
  font-weight: bold;
  color: black;
  
}

.large {

  font-weight: bold;
  color: green;
}

.lead1{
  font-weight: bold;
}


/*  ************************************SIGN IN PAGE**********************************************  */

.Sign_In {

font-weight: bold;
color: orange;
}

.Sign_In h1{
  font-weight: bold;
  color: black;
  
}

/*  ************************************ADD PROPERTY**********************************************  */

.button1
{
  margin-left: 8px;
  color: black;
  width: fit-content;
  justify-content: center;
  font-weight: bold;
  background-color: orange;
  border-color: orange;
}

.Item_style{
  color: black;
  font-size: 30px;
  margin-left: 30px;
}

.Item_style1{
  color: black;
  font-size: 30px;
  margin-left: 30px;
  text-align: center;
}

.Item_Style{
  color: rgb(115, 6, 81);
  font-weight: bold;
  font-size: 25px;
  margin-top: 30px;
  list-style-type: none;
}

.List_Style{
  color: #c4302b;
  font-weight: bold;
}