.property-detail {
    .title-image {
        width: 100%;
    }

    .sub-image {
        width: 25vh;
        height: 15vh;
    }
    .property-title {
        font-size: 26px;
    }
    .dot {
        margin: 8px 8px 0px !important;
    }
}
