.card-img-top {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card-image {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 15rem;
    cursor: pointer;
}

.card-add-ons {
    width: 45vh;
    padding-left: 0;
    padding-right: 0;
    margin-left: 5%;
}

.heart-button {
    border-width: 1px;
    position: absolute;
    z-index: 2;
    top: 3%;
    left: 86%;
    border-style: solid;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    transition: transform 0.25s ease;
    margin: -2px 0 0;
    padding: 2px 0 0 0;
}

.heart {
    display: block;
    height: 24px;
    width: 24px;
    stroke: #ffffff;
    stroke-width: 2;
    overflow: visible;

    &-empty{
        fill: rgba(0, 0, 0, 0.5);
    }

    &-liked{
        fill: rgba(240, 8, 8, 0.903);
    }
}